* {
    font-family: 'Balsamiq Sans';
    color: rgb(38, 51, 83);
}

body {
    position: relative;
}
/*Footer*/
footer {
    z-index: 100;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(23, 44, 87, 0.93);
    color: white;
}

#bootcamp {
    width: 70px;
    height: 15px;
}

/*Navbar*/
nav {
    background: rgba(23, 44, 87, 0.93);
    padding: 0 !important;
}

nav a {
    border-radius: 5px;
    font-size: 20px;
}

nav a:hover, .navbar-toggler:hover {
    background: #764E3D;
    color: white;
    transition: color;
    transition: background-color 0.5s ease;
}

.navbar-brand {
    font-size: 25px;
    letter-spacing: 4px;
    cursor: context-menu;
}

nav i {
    color: #c3c3c3;
}

/*Main div*/
.main {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url("../images/background2.jpg");
    opacity: 40%;
    z-index: -100;
}

.container {
    width: 60% !important;
}

/*Card and forms*/
.card {
    top: 100px;
    max-height: 100%;
}

.card img {
    width: 70%;
    margin-left: 12%;
}

#formAdd button, #formNewUsername button {
    background: rgb(38, 51, 83);
    color: white;
}

#formAdd button:hover, #formNewUsername button:hover {
    background: rgb(40, 78, 151);
}

/*inputs*/
.form-group {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: gray;
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    outline: #263353;
    transform: translateY(-125%);
    font-size: .75em;
}

/*Play game img and btn*/
#play-btn {
    background-color: transparent;
    border: none;
}

#play-btn i:hover {
    color: rgb(40, 78, 151);
    transition: color;
    transition: color 0.5s ease !important;
}

/*Play button wrapper*/
.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    bottom: 45%;
    left: 27%;
    top: 25%;
    right: 25%;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

/*Leadbord*/
td {
    width: 20% !important;
    text-align: center !important;
}

td img {
    margin: 0 !important;
}

#pointsBtn, #termsBtn {
    background: #284E97;
    width: 40%;
}
#pointsBtn {
    margin-left: 10%;
}

/*Modal start game*/
#div-computer, #div-player {
    cursor: pointer;
}

#div-computer:hover, #div-player:hover {
    color: grey;
    transition: color;
    transition: color 0.5s ease !important;
}

#modal button {
    background: rgb(38, 51, 83);
}

#modal img {
    width: 100%;
}

#btn-modal {
    margin-right: 25%;
}

.selected-div {
    border: grey solid 2px;
    border-radius: 5px;
}

.close {
    background-color: white !important;
}

/*Play game button*/
#play-game-img {
    position: absolute;
    top: 200px;
    left: 35%;
    width: 30%;
    cursor: pointer;
}

#play-game-img:hover {
    width: 33%;
    transition: width 0.5s ease !important;
}

/*Submit answers form*/
#form-submit-answers button {
    color: white;
    background: rgb(38, 51, 83);
    width: 40%;
    margin-left: 30%;
}

#form-submit-answers button:hover {
    background-color: rgb(40, 78, 151);
    transition: background-color 0.5s ease !important;
}

/*Modal backdrop*/
.modal-backdrop {
    background-color: rgb(38, 51, 83);
}

/*Modal score table*/
.game-dialog {
    width: auto;
    height: auto;
}

.game-content {
    height: auto;
    min-height: auto;
}

.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

/*Mobiles and tablets*/
@media only screen and (max-width: 1000px) {
    .container {
        width: 100% !important;
    }

    .img-overlay {
        bottom: 60%;
        left: 27%;
        top: 25%;
        right: 25%;
    }

    nav {
        padding: 10px !important;
    }

    #modal img {
        width: 30% !important;
    }

    #div-computer {
        margin-bottom: 10px
    }

    #pointsBtn, #termsBtn {
        background: #284E97;
        width: 49%;
    }

    #pointsBtn {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        font-size: 20px;
    }

    .img-overlay {
        bottom: 40%;
        left: 27%;
        top: 25%;
        right: 25%;
    }

    #hello {
        padding: 0 !important;
    }

}
/**/
@media only screen and (min-width: 1800px) {
    .img-overlay {
        bottom: 37%;
        left: 27%;
        top: 25%;
        right: 25%;
    }
}